.aboutContainer {
    padding-top: 100px;
}

.aboutTitle {
    background: linear-gradient(to right, #6366f1, #ec4899);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}